@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    
  } */

  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 0px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #ff0000;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #9b0c0c;
      border-radius: 100vh;
      border: 3px solid #d5ed00;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #ff00c8;
    }
  }
  